@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none !important;
}


@layer base {
  :root {
    --gradient: linear-gradient(to top left, #0f0c29, #302b63, #24243e);
    --background: 262 97.75% 98.22%;
    --foreground: 262 5.5% 0.44%;

    --muted: 262 5.5% 91.1%;
    --muted-foreground: 262 2.75% 41.1%;

    --popover: 262 46% 91.1%;
    --popover-foreground: 262 5.5% 0.55%;

    --card: 262 46% 91.1%;
    --card-foreground: 262 5.5% 0.55%;

    --border: 262 10.5% 89.44%;
    --input: 262 10.5% 89.44%;

    --primary: 262 55% 11%;
    --primary-foreground: 262 1.1% 91.1%;

    --secondary: 262 2.75% 95.55%;
    --secondary-foreground: 262 4.300000000000001% 11.1%;

    --accent: 262 2.75% 95.55%;
    --accent-foreground: 262 4.300000000000001% 11.1%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 262 55% 11%;

    --radius: 0.5rem;
  }
  .dark {
    --gradient: linear-gradient(to top left, #673ab7, #512da8);

    --background: 278 33.800000000000004% 3.76%;
    --foreground: 278 5.2% 97.35%;

    --muted: 278 26% 14.1%;
    --muted-foreground: 278 5.2% 54.7%;

    --popover: 278 54.6% 6.109999999999999%;
    --popover-foreground: 278 5.2% 97.35%;

    --card: 278 54.6% 6.109999999999999%;
    --card-foreground: 278 5.2% 97.35%;

    --border: 278 26% 14.1%;
    --input: 278 26% 14.1%;

    --primary: 278 52% 47%;
    --primary-foreground: 278 5.2% 4.699999999999999%;

    --secondary: 278 26% 14.1%;
    --secondary-foreground: 278 5.2% 97.35%;

    --accent: 278 26% 14.1%;
    --accent-foreground: 278 5.2% 97.35%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 278 5.2% 97.35%;

    --ring: 278 52% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


@layer utilities {
  .input-class {
    @apply text-sm text-black placeholder:text-sm bg-white rounded-[6px] border-primary;
  }
  .podcast_grid {
    @apply grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4;
  }
  .right_sidebar {
    @apply sticky right-0 top-0 flex w-[310px] flex-col overflow-y-hidden border-none bg-primary px-[30px] pt-8 max-xl:hidden;
  }
  .sidebar {
    @apply left-0 top-0 flex w-fit flex-col justify-between border-none  bg-primary-foreground pt-8 text-white lg:w-[270px];
  }
  .generate_thumbnail {
    @apply mt-[30px] flex w-full max-w-[520px] flex-col justify-between gap-2 rounded-lg border border-primary bg-primary-foreground px-2.5 py-2 md:flex-row md:gap-0;
  }
  .image_div {
    @apply flex items-center justify-center mt-5 h-[142px] w-full cursor-pointer flex-col gap-3 rounded-xl border-[3.2px] border-dashed border-primary bg-primary-foreground;
  }
  .carousel_box {
    @apply relative flex h-fit aspect-square w-full flex-none cursor-pointer flex-col justify-end rounded-xl border-none;
  }
  .button_bold-16 {
    @apply text-[16px] font-bold text-white transition-all duration-500;
  }
}

.circle-picker {
  width: 350px !important;
}

.chrome-picker {
  width: 350px !important;
  box-shadow: none !important;
  border-radius: 0.5rem !important;
  overflow: hidden !important;
}